.header {
    border-bottom: 1px solid #e7e9fc;
}


.header-container {
    display: flex;
    align-items: center;
}


.nav {
    display: flex;
    align-items: center;
}


.nav-list {
    display: flex;
    gap: 40px;
    margin-left: 76px;
}


.nav-link {
    padding: 24px 0;
}


.contacts {
    margin-left: auto;
}


.contacts-list {
    display: flex;
    gap: 40px;
}


.contacts-link {
    padding: 24px 0;
    line-height: 1.5;
}